<div id="sort">
    <% if (page == null ) { %>
        <a href="/?page=1&sort=1">Sort A-Z</a>
        <a href="/?page=1&sort=-1">Sort Z-A</a>
    <% } else {%>
        <a href="/?page=<%=page%>&sort=1">Sort A-Z</a>
        <a href="/?page=<%=page%>&sort=-1">Sort Z-A</a>
    <% } %> 
</div>